<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% set currentNavElement = "Kontakt" %}
    {% include 'navbar.html' %}

    <div class="textblock">
    <h1>Kontakt</h1>
    <p>Marianne Zuppinger<br>
    Bild & Skulptur Werkgalerie</p>

    <p>Krebsackerweg 5<br>
    5607 Tennwil</p>

    <p>+41 (0)56 667 00 50<br>
    marianne.zuppinger@bluewin.ch</p>
    </div>

</body>
</html>
