<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% set currentNavElement = "Kurse" %}
    {% include 'navbar.html' %}

    <div class="textblock">
    <h1>Kurs-Angebot 1. SEMESTER 2024</h1>
    <p>AQUARELL-, MISCH- UND ACRYLTECHNIK, ZEICHNEN UND GESTALTEN VON COLLAGEN.</p>

    <p>Je nach zur Verfügung stehender Zeit werden Kreativtraining sowie Arbeitsbesprechung eingeflochten. Die Maltechnik wird von den Kursteilnehmern individuell gewählt, wobei diese jederzeit gewechselt werden kann. Malen, Zeichnen und Gestalten nach Thema, Motiv oder freies Schaffen, gegenständlich oder abstrakt.</p>

    <p>KURS 1 DIENSTAG : ABEND 18.45 bis 21.15 Uhr</p>
    <p>Kursdaten: <br>
    März 19.<br>
    April 09. / 23.<br>
    Mai 07. / 21<br>
    Juni 4. / 18.</p>

    <p>.</p>

    <p>KURS 2 MITTWOCH: Nachmittags: 14,00 bis 16.30</p>
    <p>Kursdaten: <br>
    März 13. / 27.<br>
    April 17.<br>
    Mai 01. / 15. / 29.<br>
    Juni 26.</p>

    <p>.</p>

    <p>KURS 2 MONTAG : Nachmittags: 14.00 bis 16.30</p>
    <p>Kursdaten:<br>
    März 11. / 25.<br>
    Mai 13.<br>
    Juni 10.<br>

    <p>.</p>

    <p>KURSREGELN</p>
    <p>KURSKOSTEN pro 2 ½ Stunden Kursdauer ohne Arbeitsmaterial<br>
    Bei Reservation für 1 - 3 Kursdaten je Fr. 95.-<br>
    Bei Reservation von 4 und mehr Kursdaten je Fr. 85.-<br>
    Falls Keramik-Kurse angeboten werden: Mehraufwand - Pauschale Fr. 30.-<br>
    Einzelunterricht:- 60 Minuten Fr. 160.-<br>
    Kursanmeldungen in jeglicher Form sind verbindlich.<br>
    Nicht besuchte Kursdaten verfallen.<br>
    Zahlungskonditionen am ersten Kurstag: Barzahlung aller gebuchten Kursdaten.<br>
    Kursdurchführung: Bei Anmeldung ab 2 Teilnehmer<br>
    Den Kursteilnehmer stehen diverses Arbeitsmaterial wie Leinwand, Papier, Farben, etc. kostenpflichtig zur Verfügung.<br>
    NACH MÖGLICHKEIT BITTE ICH ARBEITSMATERIAL AUS DEM FUNDUS DER WERKGALERIE ZU BEZIEHEN<br>
    Bei Interesse bitte direkt kontaktieren.</p>
    </div>
</body>
</html>
